* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#navbar {
    background: #240040;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav select {
    border: none;
    background: transparent;
    color: white;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 0 40px;
}

.navbar-nav select option {
    color: black;
}

.navbar-nav a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 40px;
}

.about{
 display: flex;
}


